.detail-list {
    overflow-y: auto;
    padding: 20px;
    margin: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.detail-header {
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.btn {
    background-color: #202020;
    border: none;
    outline: none;
    color: #d34141;
    padding: 12px 15px;
    box-shadow: rgba(0, 0, 0, 0.555) 0 4px 18px 5px;
    cursor: pointer;
    transition: .2s;
}
.btn:hover {
    box-shadow: rgba(0, 0, 0, 0.555) 0 4px 10px 0;
    color: #e94242;
}