.popup {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    transition: .7s;
}
.popup.active {
    pointer-events: all;
    opacity: 1;
}

.popup-inner {
    box-sizing: border-box;
    position: relative;
    background-color: #181818;
    width: 80%;
    height: 80%;
    padding: 35px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.popup-close {
    position: absolute;
    right: 15px;
    top: 10px;
    cursor: pointer;
}
.popup-close:hover {
    color: #d34141;
    font-size: 18px;
}