* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-style: italic;
}

html, body {
  margin: 0;
  padding: 0 29px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-style: italic;
  background-color: #181818;
  color: #fff;
  font-size: 18px;
}

/* width */
::-webkit-scrollbar {
  width: 2px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #2b2b2b8c;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #585858;
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  transition: .5s;
  background: #1c1c1c;
}